/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: rgb(102, 102, 102);
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}




body {
    overflow-x: hidden;
}

.btn-style {
    /* width: 146px; */
    padding: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(92.91deg, #2AE0F9 2.64%, #0A93E0 62.88%, #3C84F0 100%);
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
}